 /**google style form element**/
 legend {
     margin-bottom: 18px;
     font-size: 19.5px;
 }
 input[type="text"]{
    background: #fff;
 }
 input[type="radio"],
 input[type="checkbox"] {
     margin: 2px 0 0;
 }

 output {
     padding-top: 6px;
     font-size: 13px;
     line-height: 1.4;
     color: #555555;
 }

 .form-control {
     height: 30px;
     padding: 5px 8px;
     font-size: 13px;
     line-height: 1.4;
     background-color: #ffffff;
     border: 1px solid #d9d9d9;
     border-top-color: #c0c0c0;
     border-radius: 1px;
     -webkit-box-shadow: none;
     box-shadow: none;
     -webkit-transition: none;
     transition: none;
 }

 .form-control:hover {
     border: 1px solid #b9b9b9;
     border-top-color: #a0a0a0;
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
 }

 .form-control:focus {
     border-color: #4d90fe;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
 }

 .form-control:focus {
     border-color: #4d90fe;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
 }

 .form-control[disabled],
 .form-control[readonly],
 fieldset[disabled] .form-control {
     background-color: #f1f1f1;
     border: 1px solid #e5e5e5;
 }

 .form-control[disabled]:hover,
 .form-control[readonly]:hover,
 fieldset[disabled] .form-control:hover,
 .form-control[disabled]:focus,
 .form-control[readonly]:focus,
 fieldset[disabled] .form-control:focus,
 .form-control[disabled]:active,
 .form-control[readonly]:active,
 fieldset[disabled] .form-control:active {
     border: 1px solid #e5e5e5;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .form-control[readonly] .form-control {
     border: 1px solid #d9d9d9;
 }

 .form-control[readonly] .form-control:hover,
 .form-control[readonly] .form-control:focus,
 .form-control[readonly] .form-control:active {
     border: 1px solid #d9d9d9;
 }

 textarea.form-control {
     padding-right: 4px;
 }

 .radio,
 .checkbox {
     min-height: 18px;
 }


 input[type="radio"],
 .radio input[type="radio"],
 .radio-inline input[type="radio"],
 input[type="checkbox"],
 .checkbox input[type="checkbox"],
 .checkbox-inline input[type="checkbox"] {
     position: relative;
     width: 13px;
     height: 13px;
     background: white;
     border: 1px solid #dcdcdc;
     border-width: 0\0;
     border-radius: 1px;
     -webkit-appearance: none;
     appearance: none;
 }

 input[type="radio"]:focus,
 .radio input[type="radio"]:focus,
 .radio-inline input[type="radio"]:focus,
 input[type="checkbox"]:focus,
 .checkbox input[type="checkbox"]:focus,
 .checkbox-inline input[type="checkbox"]:focus {
     border-color: #4d90fe;
     outline: none;
 }

 input[type="radio"]:active,
 .radio input[type="radio"]:active,
 .radio-inline input[type="radio"]:active,
 input[type="checkbox"]:active,
 .checkbox input[type="checkbox"]:active,
 .checkbox-inline input[type="checkbox"]:active {
     background-color: #ebebeb;
     border-color: #c6c6c6;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
 }

 input[type="radio"]:checked,
 .radio input[type="radio"]:checked,
 .radio-inline input[type="radio"]:checked,
 input[type="checkbox"]:checked,
 .checkbox input[type="checkbox"]:checked,
 .checkbox-inline input[type="checkbox"]:checked {
     background: #fff;
 }

 input[type="radio"],
 .radio input[type="radio"],
 .radio-inline input[type="radio"] {
     width: 15px;
     height: 15px;
     border-radius: 1em;
 }

 input[type="radio"]:checked::after,
 .radio input[type="radio"]:checked::after,
 .radio-inline input[type="radio"]:checked::after {
     position: relative;
     top: 3px;
     left: 3px;
     display: block;
     width: 7px;
     height: 7px;
     background: #666;
     border-radius: 1em;
     content: '';
 }

 input[type="checkbox"]:hover,
 .checkbox input[type="checkbox"]:hover,
 .checkbox-inline input[type="checkbox"]:hover {
     border-color: #c6c6c6;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
     box-shadow: none \9;
 }

 input[type="checkbox"]:checked::after,
 .checkbox input[type="checkbox"]:checked::after,
 .checkbox-inline input[type="checkbox"]:checked::after {
     position: absolute;
     top: -6px;
     left: -5px;
     display: block;
     content: url(../images/checkmark.png);
 }