 /**google style form element**/
 legend {
     margin-bottom: 18px;
     font-size: 19.5px;
 }

 input[type="radio"],
 input[type="checkbox"] {
     margin: 2px 0 0;
 }

 output {
     padding-top: 6px;
     font-size: 13px;
     line-height: 1.4;
     color: #555555;
 }

 .form-control {
     height: 30px;
     padding: 5px 8px;
     font-size: 13px;
     line-height: 1.4;
     background-color: #ffffff;
     border: 1px solid #d9d9d9;
     border-top-color: #c0c0c0;
     border-radius: 1px;
     -webkit-box-shadow: none;
     box-shadow: none;
     -webkit-transition: none;
     transition: none;
 }

 .form-control:hover {
     border: 1px solid #b9b9b9;
     border-top-color: #a0a0a0;
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
 }

 .form-control:focus {
     border-color: #4d90fe;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
 }

 .form-control:focus {
     border-color: #4d90fe;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
 }

 .form-control[disabled],
 .form-control[readonly],
 fieldset[disabled] .form-control {
     background-color: #f1f1f1;
     border: 1px solid #e5e5e5;
 }

 .form-control[disabled]:hover,
 .form-control[readonly]:hover,
 fieldset[disabled] .form-control:hover,
 .form-control[disabled]:focus,
 .form-control[readonly]:focus,
 fieldset[disabled] .form-control:focus,
 .form-control[disabled]:active,
 .form-control[readonly]:active,
 fieldset[disabled] .form-control:active {
     border: 1px solid #e5e5e5;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .form-control[readonly] .form-control {
     border: 1px solid #d9d9d9;
 }

 .form-control[readonly] .form-control:hover,
 .form-control[readonly] .form-control:focus,
 .form-control[readonly] .form-control:active {
     border: 1px solid #d9d9d9;
 }

 textarea.form-control {
     padding-right: 4px;
 }

 .radio,
 .checkbox {
     min-height: 18px;
 }
